html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    padding: 0px;
    flex-direction: column;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    width: 100%;
    max-width: 1000px;
    flex: 1 0 auto;
}